@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Sistema de Gestão de Advogados</strong><br />
    Desenvolvido em ASP.NET MVC<br />
    <abbr title="Email">E:</abbr>
    contato@gestaoadvogados.com.br
</address>

<address>
    <strong>Suporte:</strong><br />
    <a href="mailto:suporte@gestaoadvogados.com.br">suporte@gestaoadvogados.com.br</a>
</address>
